/*
* @Author: hui-fly
* @Date:   2018-05-20 02:27:04
* @Last Modified by:   hui-fly
* @Last Modified time: 2018-05-24 11:12:37
*/
.nav{
	background: #000;
	height: 30px;
	line-height: 30px;	
}
.nav .user-info{
	overflow: hidden;
}
/*用户部分*/
.nav .user{
	float: left;
}
/*隐藏“欢迎退出”*/
.nav .user.login{
	display: none; 
}

.nav .user .link{
	margin-right: 5px; 
}

/* 导航部分 */
.nav .nav-list{
	float: right;
}

.nav .nav-list .nav-item{
	display: inline-block;
	margin-left: 5px;
}