<div class="footer">
    <div class="w">
        <nav class="links">
        	<a class="link" href="http://www.imooc.com" target="_blank">慕课</a>
        	<a class="link" href="http://www.imooc.com" target="_blank">百度</a>
        	<a class="link" href="http://www.imooc.com" target="_blank">淘宝</a>
        	<a class="link" href="http://www.imooc.com" target="_blank">知乎</a>
        </nav>
        <p class="copyright">
        	Copyright © 2018 happymall.com Right Reserved
        </p>
    </div>
</div>
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>