/*
* @Author: hui-fly
* @Date:   2018-05-18 00:08:52
* @Last Modified by:   hui-fly
* @Last Modified time: 2018-05-18 12:32:33
*/
body{
	background:url(../../image/banner1.jpg);
	background: #333;
	color: red
}