/*
* @Author: hui-fly
* @Date:   2018-05-25 13:26:03
* @Last Modified by:   hui-fly
* @Last Modified time: 2018-05-25 23:47:49
*/
.page-wrap{
	background: #fff;
	padding: 30px 0;
	text-align: center;
	margin-top: 20px;
}
.result-con{
	display: none;
}
.result-con .result-title{
	color: #555;
}
.result-con .result-content{
	margin-top: 20px;
}
.result-con .result-content .link{
	margin: 0 5px;
	padding: 5px 10px;
	border :1px solid #ccc;
}